extends ../layout

block content

  form(action="/books/search", method="get", class="search-form")
    input(type="text", name="q", placeholder="feeling lucky", value=`${q? q : ''}`) 
    button(type="submit", class="search-button") search 
  
  h1 Books
  p
   a(href="/books/new", class="button") Create New Book
  
  if books && books.length > 0
    table
      thead
        tr
         th Title
         th Author
         th Genre
         th Year
      tbody
        each book in books
          tr
            td 
              a(href=`/books/${book.id}`)= book.title
            td= book.author
            td= book.genre
            td= book.year
    if pages && pages.length > 1
      .pagination
        ul
          each page in pages
            li 
              a(href=`/books/search?q=${q}&start=${page.start}`, class=`${page.isActive? 'active' : ''}`)= page.label
  else
    p no search results returned...